<div class="container-fluid">
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         type="password"
         class="form-control"/>
  <button (click)="login(username, password)"
          class="btn btn-primary btn-block"
          style="margin-bottom: 10px">
    Login
  </button>

  <button routerLink="/register" class="btn btn-secondary">Register</button>
  <button routerLink="/home" class="btn btn-info">Home</button>
</div>
