<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="Username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="First name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="Last name"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="Email"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
    </li>
  </ul>

  <button (click)="logout()" class="btn btn-secondary">Logout</button>
  <button routerLink="/home" class="btn btn-info">Home</button>

</div>
