<div class="container">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="Username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="First name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="Last name"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="Email"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="Address"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block"
          style="margin-bottom: 10px">
    Update
  </button>

  <button routerLink="/admin" [hidden]="!isAdmin" class="btn btn-warning" style="margin-bottom: 10px">Admin</button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group" style="margin-bottom: 10px">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      Grade: A
      <button (click)="unenroll(enrollment)" class="float-right btn btn-warning" style="margin-right: 10px">Un-enroll</button>
    </li>
  </ul>

  <button (click)="logout()" class="btn btn-secondary">Logout</button>
  <button routerLink="/home" class="btn btn-info">Home</button>
</div>
